*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(145, 105, 236);
    --secondary-color: #e8f800;
    --tertiary-color: #000;
  }

  body {
    background-color: var(--tertiary-color);
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
  }

  header {
    margin: 0px 0px 30px 0px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    color: var(--secondary-color);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    padding: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    
}

header a {
    color: #e8f800;
    font-style: italic;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background: var(--tertiary-color);
    display: flex;
    padding: 20px 0 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 750px 0 750px;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0 0 0 15px;
    
}

.contact-me h3 {
    color: var(--secondary-color);
}

.work {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    margin: 60px 60px 60px 60px;
    padding: 45px;
    flex: 1 30%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.work-title {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 45px;
    margin: 0 0 25px 0;
}

.application-title {
    display: flex;
    justify-content: center;
    color: lightblue;
    font-style: italic;
}

.subtitle  {
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.run-buddy img {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 450px 60px 450px ;
}

.about {
    font-weight: bold;
    font-size: 24px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 60px 60px 60px 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
}

.about-title {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 45px;
}

.about-me {
    margin: 20px 0;
    line-height: 1;
    font-size: 16px;
    font-style: normal;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.application2 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 450px 60px 450px ;
}

.src-img {
    width: 75%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 80px 0 80px;
}

.src-img-two {
    width: 15%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 325px 0 325px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
  
    header h1 {
        width: 100%;
        text-align: center;
    }
  
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
  
    header nav ul li a {
        font-size: 20px;
    }
  
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
  
    .hero-cta, .hero-form {
        width: 100%;
    }
  
    .hero-cta {
        text-align: center;
    }
  
    .section-title {
        width: 80%;
    }
  
    .trainer {
        flex: 0 70%;
    }
  
    .contact-info iframe{
      flex: 1 100%
    }
  
    }
  
    @media screen and (max-width:768px) {
       section {
           padding: 30px 15px;
       }
       .step h3 {
           flex: 1 100%;
           text-align: center;
       }
  
       .step-info {
           flex: 2 100%;
           text-align: center;
           justify-content: center;
       }
  
       .step-img {
           flex: 0 32%;
           margin-right: 0;
           margin-top: 15px;
           margin-bottom: 15px;
       }
       .step-text {
           flex: 100%;
       }
       
    }
    @media screen and (max-width: 575px) {
      .hero-form button {
          width: 100%;
        }
      
        .section-title {
          width: 95%;
        }
      
        .intro p {
          width: 100%;
        }
      
        .trainer {
          flex: 0 100%;
        }
      
        .contact-info {
          text-align: center;
        }
      
        .contact-info > * {
          flex: 0 100%;
        }
  
        .contact-form {
          order: 3;
        }
    }